Repository RedisLabs/redislabs-docs, pull requests merged in 2021-06, with the labels that each got.

#1391 DOC-687 delete harmful article, add aliases to correct one
  content/rs/administering/cluster-operations/maintenance-mode.md
  content/rs/administering/cluster-operations/shutting-down-node.md
Labels: p_Software

#1390 Jira DOC-721: Separate browser support info from connection info
  content/rs/administering/designing-production/supported-clients-browsers.md
  content/rs/getting-started/_index.md
  content/rs/getting-started/getting-started-active-active.md
  content/rs/getting-started/getting-started-docker.md
  content/rs/getting-started/getting-started-redis-flash.md
  content/rs/getting-started/memtier-benchmark.md
Labels: p_Software

#1398 DOC-737 K8s 6.0.20-4 release notes
  content/platforms/release-notes/k8s-6-0-20-4.md
Labels: p_Platforms

#1097 Rewrite replication verify step
  content/modules/redisearch/redisearch-2-upgrade.md
Labels: enhancement, p_Modules

#1405 Doc-759 k8s release notes link titles
  content/platforms/release-notes/_index.md
  content/platforms/release-notes/k8s-5-4-10-8-january-2020.md
  content/platforms/release-notes/k8s-6-0-12-5-2021-02.md
  content/platforms/release-notes/k8s-6-0-20-4-2021-05.md
  content/platforms/release-notes/k8s-6-0-6-11-2020-07.md
  content/platforms/release-notes/k8s-6-0-6-23-2020-08.md
  content/platforms/release-notes/k8s-6-0-6-24-2020-08.md
  content/platforms/release-notes/k8s-6-0-6-6-2020-06.md
  content/platforms/release-notes/k8s-6-0-8-1-2020-10.md
  content/platforms/release-notes/k8s-6-0-8-20-2020-12.md
Labels: K8s

#1183 RedisInsight: Document ability to add database using GET URL
  content/ri/using-redisinsight/api-get.md
  content/ri/using-redisinsight/api.md
Labels: blocked, enhancement, p_Insight

#1403 5.4.14-2 k8s release notes
  content/platforms/release-notes/k8s-5-4-14-2-2020-03.md
Labels: K8s, p_Platforms
