Repository RedisLabs/redislabs-docs, pull requests merged in 2021-02, with the labels that each got.

#1174 DOC-441 Added a quick start guide for generic K8s
  content/platforms/kubernetes/getting-started/quick-start.md
Labels: enhancement, p_Platforms

#1185 Add resolved issues and limitations to 5.6, 6.0, 6.0.8 release notes
  content/rs/release-notes/rs-5-6-0-april-2020.md
  content/rs/release-notes/rs-6-0-8-september-2020.md
  content/rs/release-notes/rs-6-0-may-2020.md
Labels: in progress, p_Software

#1211 Doc-514 Install RedisInsight Desktop Client revision
  content/ri/installing/install-redis-desktop.md
Labels: p_Insight

#1196 Removed references to EKS and AKS as they are not officially supported yet
  content/platforms/kubernetes/concepts/architecture.md
Labels: enhancement, p_Platforms
