Repository RedisLabs/redislabs-docs, pull requests merged in 2022-03, with the labels that each got.

#1796 Added release notes for RedisTimeSeries v1.6.9
  content/modules/redistimeseries/release-notes/redistimeseries-1.6-release-notes.md
Labels: p_Modules

#1797 Release k8s jolly roger
  content/kubernetes/re-clusters/connect-prometheus-operator.md
  content/kubernetes/reference/supported_k8s_distributions.md
  content/kubernetes/release-notes/k8s-6-2-10-4-2022-03.md
Labels: K8s

#1801 SAML SSO in Redis Cloud
  content/rc/administration/access-management.md
  content/rc/security/single-sign-on.md
  static/images/rc/access-management-saml-bind-accounts.png
  static/images/rc/access-management-saml-config.png
  static/images/rc/button-access-management-sso-setup.png
  static/images/rc/button-sign-in-sso.png
Labels: p_Cloud

#1806 Updated RS DB persistence to use replica
  content/rs/concepts/memory-performance/persistence.md
Labels: p_Software

#1800 Documented that OSS Cluster API + RediSearch is not supported
  content/modules/enterprise-capabilities.md
  content/modules/redisearch/_index.md
  content/rs/administering/designing-production/networking/using-oss-cluster-api.md
Labels: p_Modules

#1798 Revisions and reorg for module installation
  content/modules/add-module-to-cluster.md
  content/modules/add-module-to-database.md
  content/modules/install/_index.md
  content/modules/install/add-module-to-cluster.md
  content/modules/install/add-module-to-database.md
  content/modules/install/packaging-modules.md
  content/modules/install/upgrade-module.md
  content/modules/packaging-modules.md
  content/modules/redisai/redisai-quickstart.md
  content/modules/redisbloom/redisbloom-quickstart.md
  content/modules/redisearch/redisearch-active-active.md
  content/modules/redisearch/redisearch-quickstart.md
  content/modules/redisgraph/redisgraph-quickstart.md
  content/modules/redisjson/redisjson-quickstart.md
  content/modules/redistimeseries/redistimeseries-quickstart.md
  content/rs/release-notes/legacy-release-notes/rs-5-4-10-december-2019.md
  content/rs/release-notes/legacy-release-notes/rs-5-4-14-february-2020.md
  content/rs/release-notes/legacy-release-notes/rs-5-4-2-april-2019.md
  content/rs/release-notes/legacy-release-notes/rs-5-4-6-july-2019.md
  content/rs/release-notes/legacy-release-notes/rs-5-4-december-2018.md
  content/rs/release-notes/rs-5-6-0-april-2020.md
  content/rs/release-notes/rs-6-0-12-january-2021.md
  content/rs/release-notes/rs-6-0-20-april-2021.md
  content/rs/release-notes/rs-6-0-8-september-2020.md
  content/rs/release-notes/rs-6-0-may-2020.md
  content/rs/release-notes/rs-6-2-4-august-2021.md
  content/rs/release-notes/rs-6-2-8-october-2021.md
  static/images/rs/button-add-module.png
  static/images/rs/button-upload-module.png
  static/images/rs/settings-modules-list.png
Labels: p_Modules

#1807 Added release notes for RediSearch and RedisJSON
  content/modules/redisearch/release-notes/redisearch-2.2-release-notes.md
  content/modules/redisjson/release-notes/redisjson-2.0-release-notes.md
Labels: p_Modules

#1812 Added RedisGraph v2.8.9 release notes
  content/modules/redisgraph/release-notes/redisgraph-2.8-release-notes.md
Labels: p_Modules

#1811 Added RedisBloom v2.2.14 release notes
  content/modules/redisbloom/release-notes/redisbloom-2.2-release-notes.md
Labels: p_Modules

#1815 DOC-1216 add Rancher 2.6 support
  content/kubernetes/reference/supported_k8s_distributions.md
  content/kubernetes/release-notes/k8s-6-2-10-4-2022-03.md
Labels: K8s

#1814 DOC-1217 K8s: add note about python 3.6
  content/kubernetes/logs/collect-logs.md
Labels: K8s

#1818 Fixed example JSON for PUT /cluster/services_configuration request
  content/rs/references/rest-api/requests/cluster/services_configuration.md
Labels: p_Software

#1817 Specify node for install RedisGears REST API request
  content/modules/redisgears/installing-redisgears.md
Labels: p_Modules

#1820 DOC-1232 update link to raw.githubusercontent.com
  content/kubernetes/deployment/openshift/openshift-operatorhub.md
Labels: bug, K8s

#1822 Added RediSearch v2.2.10 release notes
  content/modules/redisearch/release-notes/redisearch-2.2-release-notes.md
Labels: p_Modules

#1821 Release notes for 2.0.5
  content/ri/release-notes/v2.0.2.md
Labels: p_Insight

#1829 Updated module quick start to use Redis Stack
  content/modules/modules-quickstart.md
Labels: p_Modules

#1819 DOC-941 K8s delete custom resources
  content/kubernetes/re-clusters/create-aa-database.md
  content/kubernetes/re-clusters/delete_custom_resources.md
  content/kubernetes/re-clusters/upgrade-redis-cluster.md
Labels: K8s

#1833 DOC-1239 integrate cluster option notes
  content/kubernetes/reference/cluster-options.md
Labels: K8s

#1834 Added RedisGraph v2.8.10 release notes
  content/modules/redisgraph/release-notes/redisgraph-2.8-release-notes.md
Labels: p_Modules

#1828 DOC-1235: RI - Rename v2.0 release notes
  content/ri/release-notes/v2.0.md
Labels: p_Insight

#1837 README: Update for build error on Windows
  README.md
Labels: infrastructure

#1804 Updated SAML onboarding for Redis Cloud
  content/rc/security/single-sign-on.md
Labels: p_Cloud

#1836 Added RediSearch v2.4 GA release notes
  content/modules/redisearch/release-notes/redisearch-2.4-release-notes.md
Labels: p_Modules

#1841 Added RedisGraph v2.8.11 release notes
  content/modules/redisgraph/release-notes/redisgraph-2.8-release-notes.md
Labels: p_Modules
