Repository RedisLabs/redislabs-docs, pull requests merged in 2022-07, with the labels that each got.

#2018 K8s: crdb-cli example fix DOC-1473
  content/kubernetes/re-clusters/create-aa-database.md
Labels: K8s

#1951 DOC-1416: REST API Tutorial Page
  content/rs/references/rest-api/_index.md
  content/rs/references/rest-api/quick-start.md
Labels: p_Software

#2020 A-A RediSearch: fixed broken link, fixed typos, copy edits
  content/modules/redisearch/redisearch-active-active.md
Labels: p_Modules

#2019 Small updates to main module quick start
  content/modules/modules-quickstart.md
Labels: p_Modules

#2023 Fixed RediSearch links
  content/modules/redisearch/_index.md
Labels: p_Modules

#1972 DOC-1386 planning considerations article for Active Active
  content/rs/databases/active-active/_index.md
  content/rs/databases/active-active/aa-planning.md
  content/rs/databases/active-active/causal-consistency-crdb.md
  content/rs/databases/active-active/connect-to-aa-db.md
  content/rs/databases/active-active/create-active-active.md
  content/rs/databases/active-active/develop/_index.md
  content/rs/databases/active-active/edit-aa-database.md
  content/rs/databases/active-active/get-started-active-active.md
  content/rs/databases/active-active/intercluster-replication.md
  content/rs/databases/active-active/manage-aa.md
  content/rs/databases/active-active/synchronization-mode.md
  content/rs/databases/configure/replication.md
  content/rs/databases/import-export/replica-of.md
Labels: p_Software

#2025 Added RedisJSON compatibility to RediSearch overview
  content/modules/redisearch/_index.md
Labels: p_Modules

#2026 Added RediSearch commands page
  content/modules/redisearch/_index.md
  content/modules/redisearch/commands.md
  content/modules/redisearch/redisearch-quickstart.md
Labels: p_Modules

#2022 K8s: OpenShift routes article DOC-883
  content/kubernetes/re-clusters/create-aa-database.md
  content/kubernetes/re-databases/ingress_routing_with_istio.md
  content/kubernetes/re-databases/routes.md
  content/kubernetes/re-databases/set-up-ingress-controller.md
Labels: K8s

#2031 Added RedisGears v1.2.5 release notes
  content/modules/redisgears/release-notes/redisgears-1.2-release-notes.md
Labels: p_Modules

#2034 RC Reorg - Accounts and settings
  content/rc/accounts/_index.md
  content/rc/accounts/account-settings.md
  content/rc/accounts/user-profile.md
  content/rc/administration/multiple-accounts.md
  content/rc/cloud-integrations/aws-cloud-accounts/_index.md
  static/images/rc/account-selector-single-account.png
  static/images/rc/account-selector-switch-account.png
  static/images/rc/account-settings-account-tab.png
  static/images/rc/account-settings-buttons-save-discard.png
  static/images/rc/account-settings-cloud-account-tab.png
  static/images/rc/account-settings-prompt-add-cloud-account.png
  static/images/rc/account-settings-prompt-cloud-account-error.png
  static/images/rc/account-settings-prompt-edit-cloud-account.png
  static/images/rc/button-cloud-account-add.png
  static/images/rc/button-cloud-account-update.png
  static/images/rc/icon-cloud-account-add.png
  static/images/rc/icon-cloud-account-delete.png
  static/images/rc/icon-cloud-account-edit.png
  static/images/rc/user-profile-setting-buttons.png
  static/images/rc/user-profile-settings.png
Labels: p_Cloud

#2039 Added RedisJSON v2.0.11 release notes
  content/modules/redisjson/release-notes/redisjson-2.0-release-notes.md
Labels: p_Modules

#2040 RI release note update
  content/ri/release-notes/v.2.4.0.md
Labels: p_Insight

#2050 Added RedisTimeSeries v1.6.17 release notes
  content/modules/redistimeseries/release-notes/redistimeseries-1.6-release-notes.md
Labels: p_Modules

#2051 DOC-1535: RC - Remove stale zone mapping content
  content/rc/accounts/account-settings.md
  content/rc/administration/aws-zone-mapping.md
  content/rc/faqs/_index.md
Labels: p_Cloud

#2052 Added release notes for RedisBloom v2.2.18 and RedisGraph v2.8.16
  content/modules/redisbloom/release-notes/redisbloom-2.2-release-notes.md
  content/modules/redisgraph/release-notes/redisgraph-2.8-release-notes.md
Labels: p_Modules

#2054 Added release notes for RedisGraph v2.8.17, RediSearch v2.4.10
  content/modules/redisearch/release-notes/redisearch-2.4-release-notes.md
  content/modules/redisgraph/release-notes/redisgraph-2.8-release-notes.md
Labels: p_Modules

#2057 Added RediSearch v2.4.11 release notes
  content/modules/redisearch/release-notes/redisearch-2.4-release-notes.md
Labels: p_Modules

#2059 Active-Active RedisJSON
  content/modules/enterprise-capabilities.md
  content/modules/redisjson/active-active.md
  content/modules/redisjson/release-notes/redisjson-2.2-release-notes.md
  content/rs/databases/active-active/_index.md
Labels: p_Modules

#2060 Updated RedisJSON overview
  content/modules/redisjson/_index.md
Labels: p_Modules
