Repository RedisLabs/redislabs-docs, pull requests merged in 2022-11, with the labels that each got.

#2206 Update product-lifecycle.md with correct EOL date in the notes
  content/rs/installing-upgrading/product-lifecycle.md
Labels: p_Software

#2215 RediSearch config compatibility
  content/modules/redisearch/_index.md
  content/modules/redisearch/config.md
Labels: p_Modules

#2212 RedisGraph config compatibility
  content/modules/redisgraph/_index.md
  content/modules/redisgraph/config.md
Labels: p_Modules

#2214 RedisTimeSeries config compatibility table
  content/modules/redistimeseries/_index.md
  content/modules/redistimeseries/config.md
Labels: p_Modules

#2217 RedisGraph command compatibility
  content/modules/redisgraph/commands.md
Labels: p_Modules

#2216 RediSearch command compatibility
  content/modules/redisearch/commands.md
Labels: p_Modules

#2204 DOC-1730 K8s: change create secret to kubectl cmd
  content/kubernetes/security/manage-rec-certificates.md
Labels: K8s

#2189 K8s: RoF GA content (#2165)
  content/kubernetes/re-clusters/redis-on-flash.md
  content/kubernetes/release-notes/k8s-redis-on-flash.md
Labels: K8s, release branch

#2221 RedisJSON command compatibility
  content/modules/redisjson/commands.md
Labels: p_Modules

#2223 RedisBloom command compatibility
  content/modules/redisbloom/commands.md
Labels: p_Modules

#2222 RedisTimeSeries command compatibility
  content/modules/redistimeseries/commands.md
Labels: p_Modules

#2211 DOC-1737: RC: Connection Wizard
  content/rc/rc-quickstart.md
  static/images/rc/connection-wizard-button.png
  static/images/rc/connection-wizard.png
  static/images/rc/database-details-configuration-tab-general-flexible.png
  static/images/rc/database-fixed-configuration-general.png
  static/images/rc/migrate-data-target-edit.png
  static/images/rc/quickstart-database-overview.png
  static/images/rc/quickstart-subscription-overview.png
  static/images/rc/subscription-details-fixed-databases-tab.png
  static/images/rc/subscription-flexible-databases-tab-pending.png
  static/images/rc/subscription-flexible-databases-tab-update.png
Labels: p_Cloud

#2232 DOC-1718: RS Connect entry page
  content/rs/databases/connect/_index.md
Labels: p_Software

#2230 RediSearch 2.4.16 Release Notes
  content/modules/redisearch/release-notes/redisearch-2.4-release-notes.md
Labels: p_Modules

#2233 Modules command & config compatibility
  content/modules/redisbloom/_index.md
  content/modules/redisbloom/commands.md
  content/modules/redisbloom/config.md
  content/modules/redisearch/_index.md
  content/modules/redisearch/commands.md
  content/modules/redisearch/config.md
  content/modules/redisgraph/_index.md
  content/modules/redisgraph/commands.md
  content/modules/redisgraph/config.md
  content/modules/redisjson/commands.md
  content/modules/redistimeseries/_index.md
  content/modules/redistimeseries/commands.md
  content/modules/redistimeseries/config.md
Labels: p_Modules

#2231 K8s Neptune release notes
  content/kubernetes/reference/supported_k8s_distributions.md
  content/kubernetes/release-notes/k8s-6-2-18-3.md
  content/kubernetes/release-notes/k8s-redis-on-flash.md
Labels: next version, K8s

#2207 Updated OSS command & config compatibility
  content/rs/references/compatibility/commands/cluster.md
  content/rs/references/compatibility/commands/connection.md
  content/rs/references/compatibility/commands/generic.md
  content/rs/references/compatibility/commands/scripting.md
  content/rs/references/compatibility/commands/server.md
  content/rs/references/compatibility/config-settings.md
Labels: p_Software

#2235 Updated redisAccountMapping options
  content/rc/security/single-sign-on/saml-sso.md
Labels: p_Cloud

#2237 K8s Neptune release branch
  content/kubernetes/re-clusters/redis-on-flash.md
  content/kubernetes/reference/supported_k8s_distributions.md
  content/kubernetes/release-notes/k8s-6-2-18-3.md
  content/kubernetes/release-notes/k8s-redis-on-flash.md
Labels: K8s, release branch

#2238 DOC-280 - RS: Update maintenance mode doc to reflect deactivation
  content/rs/clusters/maintenance-mode.md
Labels: p_Software

#2240 Added note regarding email being used as username
  content/rc/security/single-sign-on/saml-sso.md
Labels: p_Cloud

#2241 Update SP meta data URLs
  content/rc/security/single-sign-on/saml-sso.md
Labels: p_Cloud

#2244 Updated SAML SSO screenshots
  content/rc/security/single-sign-on/saml-sso.md
  static/images/rc/access-management-saml-bind-accounts.png
  static/images/rc/access-management-saml-config.png
  static/images/rc/access-management-saml-link-accounts.png
  static/images/rc/button-access-management-sso-deactivate-saml-deactivate.png
Labels: p_Cloud

#2246 RC SAML SSO
  content/rc/security/access-management.md
  content/rc/security/single-sign-on.md
  content/rc/security/single-sign-on/_index.md
  content/rc/security/single-sign-on/saml-sso.md
  content/rc/security/single-sign-on/social-login.md
  static/images/rc/access-management-saml-config.png
  static/images/rc/access-management-saml-link-accounts.png
  static/images/rc/button-access-management-sso-deactivate-saml-deactivate.png
  static/images/rc/button-access-management-sso-setup.png
  static/images/rc/button-sign-in-sso.png
Labels: p_Cloud

#2248 RC RBAC updates for new UI
  content/rc/security/database-security/passwords-users-roles.md
  static/images/rc/button-data-access-control-redis-acls-rule-builder-add.png
  static/images/rc/button-data-access-control-redis-acls-rule-builder-save-rule.png
  static/images/rc/button-data-access-control-save-role.png
  static/images/rc/button-database-password-copy.png
  static/images/rc/data-access-control-acls.png
  static/images/rc/data-access-control-roles.png
  static/images/rc/data-access-control-users.png
  static/images/rc/database-fixed-configuration-security.png
  static/images/rc/icon-rbac-add.png
  static/images/rc/icon-rbac-edit.png
Labels: p_Cloud

#2253 DOC-1777 - Modules: RedisGears install download link leads to a 404
  content/modules/redisgears/installing-redisgears.md
Labels: p_Modules

#2256 K8s 6.2.18-3 warning
  content/kubernetes/release-notes/k8s-6-2-18-3.md
Labels: K8s
